<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="Administrateur/Graph/blank_page">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Modifier Role</title>

</head>
<body  layout:fragment="content">

				<br></br>
				<br></br>
				<br></br>
				
						<div class="tab-content">
						<div class="tab-pane active" id="horizontal-form">
							<form class="form-horizontal" th:action="@{/admin/save}" method="post" th:object="${utilisateur}" >
							<h3 class="blank1"><center>Modifer Utilisateur</center></h3>
						
								<div class="form-group">
									
									<div class="col-sm-8">
										<input  type="hidden" class="form-control1" id="focusedinput"  th:field="*{idU}" />
									</div>
									
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">Nom: </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="focusedinput"  
										th:field="*{nom}" /> 
									</div>
								</div>
								
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">Prènom: </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="focusedinput"  
										th:field="*{prenom}" /> 
									</div>
								</div> 
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">Login: </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="focusedinput" placeholder=""  
										th:field="*{login}" /> <span class="text-danger"
										th:errors="*{login}"></span>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">Mot de Passe : </label>
									<div class="col-sm-8">
										<input type="password" class="form-control1" id="focusedinput" placeholder=""  
										th:field="*{password}" /> <span class="text-danger"
										th:errors="*{password}"></span>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">Nature : </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="focusedinput" placeholder=""  
										th:field="*{type}" /> <span class="text-danger"
										th:errors="*{type}"></span>
								</div>
								</div>
								
								
								 <div class="panel-footer">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<center><button class="btn-success btn" >Enregistrer</button></center>
									
								</div>
							</div>
							
							</div>
				
							</form>
							
						</div>
					</div>
				
</body>
</html>